.animated-circle {
  position: absolute;
  cursor: pointer;
}

.animated-circle:hover .inner-circle {
  border-color: #FBA026;
}

.animated-circle:hover .outer-circle {
  border-color: #F37934;
}

.animated-circle .inner-circle,
.animated-circle .outer-circle {
  transition: border-color .2s ease;
  position: absolute;
  border-radius: 50%;
}

.animated-circle .inner-circle {
  width: 28px;
  height: 28px;
  top: 3px;
  left: 3px;
  border: 3px solid #F4D03F;
}

.animated-circle .inner-circle.anim-circle {
  animation: inner-circle-loop 1.7s infinite;
}

.animated-circle .inner-circle.anim-rotate {
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate linear 2.7s reverse infinite;
}

.animated-circle.active .inner-circle.anim-rotate {
  border-top-color: #6C7A89;
  border-bottom-color: #6C7A89;
}

.animated-circle.active .outer-circle.anim-rotate {
  border-top-color: #58636f;
  border-bottom-color: #58636f;
}

.animated-circle .outer-circle {
  width: 34px;
  height: 34px;
  border: 2px solid #F7CA18;
}

.animated-circle .outer-circle.anim-circle {
  animation: outer-circle-loop 1.7s infinite;
}

.animated-circle .outer-circle.anim-rotate {
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate linear 2.7s infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

	to {
    transform: rotate(360deg);
  }
}

@keyframes inner-circle-loop {
  0% {
    opacity: .1;
    transform: scale(1.1);
  }

  42% {
    opacity: .75;
    transform: scale(.9);
  }

  to {
    opacity: .1;
    transform: scale(1.1)
  }
}

@keyframes outer-circle-loop {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }

  51% {
    opacity: .6;
    transform: scale(.9);
  }

  to {
    opacity: 0;
    transform: scale(1.1);
  }
}