.link {
  color: #7db025;
  transition: color .2 ease-in;
}

.link:hover {
  color: #a6e22e;
}

.formatted-text {
  padding: 15px;
  font-size: 14px;
}

.highlight {
  color: #66d9ef;
}

.formatted-paragraph {
  font-size: 14px;
  padding: 15px;
}

.formatted-paragraph code {
  background-color: #4e5964;
  padding: 0 4px;
  border-radius: 4px;
}