.icon {
  width: 35px;
  height: 35px;
  padding: 8px;
}

.icon-remove {
  background-color: #CF000F;
}

.icon-remove::before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background-image: url('../assets/icons/trash.svg');
  
}