.app-page {
  text-align: center;
}

.logo-container {
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  font-weight: 300;
  display: inline-block;
}

.logo {
  margin: 0 10px;
}

.react-logo {
  color: #00d8ff;
}

.redux-logo {
  color: #7550b7;
}

.logo-img {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}