.preview-block {
  position: relative;
}

.preview-block.active {
  z-index: 10000;
  position: relative;
}

.preview-block .animated-circle {
  top: 50%;
  margin-top: -17px;
  left: 50%;
  margin-left: -17px;
}

.preview-block.align-left > .animated-circle {
  left: 0%;
}

.preview-block.align-right > .animated-circle {
  left: 100%;
}

