.logo {
  height: 50px;
  line-height: 50px;
  color: #00d8ff;
  font-size: 22px;
  font-weight: 300;
  display: inline-block;
}

.logo-img {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}